FEATHERLESS_API_KEY=rc_b1620d8d3cd98208da360e97b3bb3bfc47210d257e2e4aeffdf53f633b4d77e5
FEATHERLESS_MODEL=Qwen/Qwen2.5-7B-Instruct
FEATHERLESS_BASE_URL=https://api.featherless.ai/v1
SIMILARITY_THRESHOLD=0.64
DATABASE_PATH=./data/fixonce.db
